# ignore files

.gitignore
.prettierignore

# web stuff, not needed for building

.prettierrc.cjs
assets/main.css

# don't need our task file

Makefile.toml

# build output files

/target
/node_modules
